In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./Housing_dataset_train.csv")

In [4]:
df.head()

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,NaN,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,NaN,5.0,6.0,2600700.898

In [5]:
df.tail()

,ID,loc,title,bedroom,bathroom,parking_space,price
13995,6175,Edo,Bungalow,NaN,7.0,NaN,2367927.861
13996,9704,Kaduna,Apartment,NaN,7.0,5.0,2228516.471
13997,11190,Plateau,Bungalow,8.0,6.0,5.0,2406812.693
13998,9256,Delta,Flat,NaN,6.0,1.0,3348918.718
13999,8787,Nasarawa,NaN,9.0,7.0,5.0,2858516.890

In [8]:
df['useless'] = 2

In [11]:
df.ID.nunique()

10182

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14000 entries, 0 to 13999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             14000 non-null  int64
 1   loc            12187 non-null  object
 2   title          12278 non-null  object
 3   bedroom        12201 non-null  float64
 4   bathroom       12195 non-null  float64
 5   parking_space  12189 non-null  float64
 6   price          14000 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 765.8+ KB

In [7]:
df.describe()

                 ID       bedroom      bathroom  parking_space         price
count  14000.000000  12201.000000  12195.000000   12189.000000  1.400000e+04
mean    4862.700357      4.308171      3.134235       3.169825  2.138082e+06
std     3818.348214      2.441165      2.035950       1.599415  1.083057e+06
min        0.000000      1.000000      1.000000       1.000000  4.319673e+05
25%     1672.750000      2.000000      1.000000       2.000000  1.393990e+06
50%     3527.000000      4.000000      2.000000       3.000000  1.895223e+06
75%     8011.250000      6.000000      5.000000       4.000000  2.586699e+06
max    12999.000000      9.000000      7.000000       6.000000  1.656849e+07

In [70]:
import numpy as np

In [71]:
num1=[]
num2=[]
num3=[]
num4=[]

for i in range(20000):
    num1.append(np.random.randint(1000, 20000))
    num2.append(np.random.randint(10000, 200000))
    num3.append(np.random.randint(1000, 20000))
    num4.append(np.random.randint(100000, 500000))

In [72]:
len(num1)

20000

In [73]:
df = pd.DataFrame()

In [74]:
df['num1'] = num1
df['num2'] = num2
df['num3'] = num3
df['num4'] = num4

In [75]:

df.head()

    num1    num2   num3    num4
0  16889   76865  13252  229275
1   6548  108282  13540  251175
2  11892   40670  15913  467411
3   8475   68812   6487  153533
4  16870   98059  14135  405397

In [76]:
df['target'] = df[['num1',	'num2',	'num3',	'num4']].sum(axis=1)

In [77]:
df.head()

    num1    num2   num3    num4  target
0  16889   76865  13252  229275  336281
1   6548  108282  13540  251175  379545
2  11892   40670  15913  467411  535886
3   8475   68812   6487  153533  237307
4  16870   98059  14135  405397  534461

In [79]:
df['label'] = df['target']%2

In [81]:
df.head(20)

     num1    num2   num3    num4  target  label
0   16889   76865  13252  229275  336281      1
1    6548  108282  13540  251175  379545      1
2   11892   40670  15913  467411  535886      0
3    8475   68812   6487  153533  237307      1
4   16870   98059  14135  405397  534461      1
5    7043   98556  11557  265765  382921      1
6    4927  166928  16939  233726  422520      0
7   19036  181715  19870  295477  516098      0
8   13106  158433   9812  287495  468846      0
9   17510  169584   3635  146747  337476      0
10  18187   65647   6186  498437  588457      1
11  15604  153523  18550  184497  372174      0
12   7042  127224   3191  498444  635901      1
13  16570  160706  11514  129439  318229      1
14  19232  189191   5577  378657  592657      1
15  15908  143447   1559  379007  539921      1
16  13919   84445  16588  210238  325190      0
17  13543   84458  12221  162004  272226      0
18   7292  193073   7776  457356  665497      1
19   2251   43557   1953  219385  267146      0

In [32]:
4673+95353+14735+281379

396140

In [31]:
X = df.drop('target', axis=1)
y = df.target

# TRAIN TEST SPLIT

In [33]:
# training we are using 80% of our data

16000.0

In [37]:
20000*0.8

16000.0

In [49]:
X_train = X.iloc[:16000]

In [50]:
X_test = X.iloc[16000:]

In [51]:
y_train = y.iloc[:16000]

In [52]:
y_test=y.iloc[16000:]

In [53]:
df.head(2)

    num1    num2   num3    num4  target
0   4673   95353  14735  281379  396140
1  18149  155086  16238  296853  486326

In [54]:
from sklearn.ensemble import RandomForestRegressor

In [55]:
model = RandomForestRegressor()

In [56]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [57]:
X_test.head()

        num1    num2   num3    num4
16000   8883   51414  14717  170871
16001  10889   64584  16429  360875
16002  13465  139230  17870  294928
16003   4321  163868  16546  445257
16004   2696   97092   4137  141612

In [58]:
y_test.head()

16000    245885
16001    452777
16002    465493
16003    629992
16004    245537
Name: target, dtype: int64

In [64]:
y_pred[:5]

array([244057.54, 449922.16, 462933.13, 629643.36, 254524.96])

In [60]:
y_pred = model.predict(X_test)

In [61]:
# the machine is going to learn a parten that will map the input variable to output variable

In [62]:
from sklearn.metrics import accuracy_score, confusion_matrix, mean_absolute_error, mean_squared_error

In [65]:
mae = mean_absolute_error(y_test,y_pred)

In [66]:
mae

2858.6935325

In [67]:
mse=mean_squared_error(y_test,y_pred)

In [68]:
mse

13121325.708213672

In [69]:
mae**2

8172128.7127573285

In [84]:
# 2+3 = 5#4.5deficit .5
# 3+3 = 6# 6.5 .5
# 6+6 = 12 # 11 deficit 1
# 7+0 = 7  # 6.9 .1

2.1
2.1**2

4.41