In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
exam = pd.read_csv('exam.csv')

In [3]:
exam

      hours_study  attendance  score
0               6          87  19.53
1               5          99  21.13
2               4          51  10.73
3               5          62  13.73
4               3          67  13.13
...           ...         ...    ...
1995            6          83  18.73
1996            2          85  15.93
1997            2          99  18.73
1998            4          51  10.73
1999            1          54   8.93

[2000 rows x 3 columns]

In [4]:
exam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hours_study  2000 non-null   int64
 1   attendance   2000 non-null   int64
 2   score        2000 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 47.0 KB

In [5]:
exam.isnull().sum()

hours_study    0
attendance     0
score          0
dtype: int64

In [6]:
exam.describe()

       hours_study   attendance        score
count  2000.000000  2000.000000  2000.000000
mean      3.535500    74.678500    15.094100
std       1.709152    14.410863     3.210602
min       1.000000    50.000000     8.130000
25%       2.000000    62.000000    12.530000
50%       4.000000    75.000000    15.130000
75%       5.000000    87.000000    17.730000
max       6.000000    99.000000    21.930000

# Splitting into X-feature and y-target

In [7]:
np.array(exam)

array([[ 6.  , 87.  , 19.53],
       [ 5.  , 99.  , 21.13],
       [ 4.  , 51.  , 10.73],
       ...,
       [ 2.  , 99.  , 18.73],
       [ 4.  , 51.  , 10.73],
       [ 1.  , 54.  ,  8.93]])

In [8]:
X = exam[['hours_study', 'attendance']]

In [9]:
y = exam.score

# Splitting into test and train

In [10]:
X_train,X_test, y_train,y_test = train_test_split(X, y, train_size=.80, random_state=2, shuffle=True,)

In [11]:
print("shape of X_train ",(X_train).shape)

shape of X_train  (1600, 2)

In [12]:
print("shape of X_test ",(X_test).shape)
print("shape of y_train ",(y_train).shape)
print("shape of y_test ",(y_test).shape)

shape of X_test  (400, 2)
shape of y_train  (1600,)
shape of y_test  (400,)

In [13]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [19]:
lr = LinearRegression()

In [20]:
lr.fit(X_train,y_train)

LinearRegression()

In [21]:
lr.score(X_test, y_test)

1.0

In [22]:
ylr_pred = lr.predict(X_test)

In [23]:
ylr_pred

array([19.73, 10.53, 14.13, 18.13, 18.53, 16.73, 14.93, 16.13, 10.13,
       18.13, 13.53, 16.13,  8.73, 14.53, 16.93, 15.13, 15.13, 11.53,
       17.53, 14.13, 17.73, 11.33, 18.93, 12.93, 19.73, 12.33, 17.13,
       13.93, 17.93, 18.33, 13.13, 21.33, 21.73, 17.53, 12.53, 18.13,
       13.53,  8.93, 10.53, 17.13, 16.93, 14.93, 13.33, 21.13, 16.93,
        9.53, 17.93, 12.53, 10.53, 15.53, 18.73, 13.73, 20.13, 14.13,
       15.13, 15.13, 11.33, 17.53, 15.13, 13.13, 10.33, 16.13, 19.53,
       18.13, 15.53, 14.33, 17.93, 11.53, 16.93, 19.93, 11.93, 13.73,
       12.73, 16.13,  9.33, 19.13, 12.93, 16.53, 14.33, 15.73, 18.13,
       13.93, 13.13, 14.33, 11.33, 18.13, 19.13, 17.93, 14.73, 10.13,
       21.33, 17.93, 11.33, 19.33, 12.53, 17.93, 20.33, 15.73, 13.33,
       17.93, 15.93, 19.93, 13.33, 12.33, 15.93, 15.13, 18.13, 12.73,
       17.53, 11.73, 20.73, 18.93, 13.33,  8.53, 17.53, 14.93, 17.53,
       16.13, 12.73, 13.33, 13.33, 16.53, 14.73, 19.53, 18.13, 14.13,
       20.33, 13.93, 14.33, 12.73, 11.93, 12.53, 19.93, 15.73, 10.53,
       18.73, 17.13, 18.33, 17.13, 19.73, 18.93, 14.53, 14.13, 13.33,
       17.53, 17.33, 19.53, 13.93, 19.73, 13.93,  8.73, 21.33, 16.13,
       20.93, 13.73, 11.13, 18.73, 14.53, 12.93, 10.93,  9.53, 13.13,
       17.13, 16.93, 20.33, 11.13, 14.93, 17.13, 13.13, 11.73, 16.33,
       10.33, 11.53,  9.93, 12.93, 14.73, 10.73, 16.73, 15.93, 17.93,
       15.53,  9.53, 12.73,  9.93, 14.33, 19.53, 18.53, 12.33, 14.93,
       16.93, 14.53, 14.53,  9.73, 13.13, 10.53, 16.53, 19.93, 16.73,
       12.13, 10.13, 18.53, 13.73, 19.53, 17.53, 11.13, 11.13, 10.93,
       13.13, 15.13, 10.53, 19.53, 10.33, 18.33, 20.13, 15.73, 16.73,
       17.53, 16.33, 16.93, 19.53, 18.53, 12.93, 12.53, 18.13, 21.33,
       12.73, 12.33, 18.93,  9.93, 11.73,  9.93, 13.33, 18.73, 17.93,
       21.33, 16.73, 14.53, 14.93, 16.73, 16.33, 17.33, 19.53, 14.33,
       15.13, 19.53, 12.93, 10.33, 20.13, 15.93, 20.33, 14.93, 20.93,
       14.93, 14.33, 17.93, 17.13, 12.33, 12.53, 13.93, 16.93, 17.13,
       18.13, 17.33, 18.13, 11.93, 13.93, 13.93, 18.73,  9.53, 11.93,
       15.73,  9.93, 13.33, 17.93, 20.53, 20.73,  9.73, 10.33, 13.73,
       12.13, 15.73, 18.33, 12.53, 18.73, 10.73, 17.93, 20.93, 12.13,
       13.53, 16.93, 14.93, 21.93, 17.33, 14.33, 16.53, 11.93, 20.13,
       19.93, 14.93, 16.93,  9.93,  8.93, 13.73, 10.33, 14.93, 15.53,
       14.53, 13.33, 13.53, 12.53, 17.53, 14.93, 11.53, 12.53, 19.93,
       16.93, 18.33, 11.93, 13.53, 16.53, 15.53, 18.53, 15.93, 12.53,
        9.73, 10.53, 16.93, 17.73, 11.33, 12.53, 12.13, 19.33, 13.33,
       19.53,  9.93, 11.93, 11.33, 20.73, 12.53, 15.53, 15.93, 15.33,
       15.53, 13.93, 16.73, 16.73, 19.33, 14.73, 10.53, 13.53, 21.33,
       18.73, 14.93, 15.53, 16.13, 10.93, 13.13, 17.93, 11.73, 19.33,
        9.53, 18.33, 13.13, 12.73, 11.93, 14.53, 11.33, 20.33,  9.73,
       16.53, 19.13, 11.13, 16.13, 10.73, 15.73, 12.93, 15.53, 17.73,
       16.93, 12.13, 15.93, 18.53, 19.93,  9.93, 17.13, 16.33, 12.73,
       13.53, 16.93, 12.33, 12.73, 13.13, 14.73, 15.53, 17.93, 15.53,
       13.33, 10.53, 19.13, 14.53])