# THIS IS A COMMENT

In [1]:
print ("Zainab")

Zainab

In [2]:
print ("Hello")

Hello

In [3]:
import pandas as pd
import numpy as np
import squarify
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
print("hello")

hello

In [5]:
x = 4
y = 7
z = 8
print(x*y*z)

224

In [6]:
Fruits = ["Banana","Apple","Orange","Kiwi","Pineapple","Strawberry"]
Fruits

['Banana', 'Apple', 'Orange', 'Kiwi', 'Pineapple', 'Strawberry']

# HELLO
- DATA SCIENCE

In [7]:

# Dictionary of food items
fruits_list = {
    'Food': ['Apple', 'Banana', 'Carrot', 'Donut', 'Egg', 'Fish', 'Grapes', 'Ham', 'Ice Cream', 'Juice'],
    'Category': ['Fruit', 'Fruit', 'Vegetable', 'Dessert', 'Protein', 'Protein', 'Fruit', 'Protein', 'Dessert', 'Beverage'],
    'Price': [0.5, 0.3, 0.4, 1.0, 0.2, 3.0, 2.5, 5.0, 1.5, 2.0]
}

In [8]:
# Creating DataFrame
food_df = pd.DataFrame(fruits_list)

In [9]:
food_frame = food_df

In [10]:
print(food_frame)

        Food   Category  Price
0      Apple      Fruit    0.5
1     Banana      Fruit    0.3
2     Carrot  Vegetable    0.4
3      Donut    Dessert    1.0
4        Egg    Protein    0.2
5       Fish    Protein    3.0
6     Grapes      Fruit    2.5
7        Ham    Protein    5.0
8  Ice Cream    Dessert    1.5
9      Juice   Beverage    2.0

In [11]:
print("REALITY")

REALITY

In [12]:
import numpy as np
A = [2,5,7,3,3,5,6,6,5,2,1,9]

In [13]:
# Calculating the mean of the 'Price' column using NumPy
mean_price = np.mean(food_frame['Price'])

print(f'The mean price of the food items is: {mean_price}')

The mean price of the food items is: 1.64

In [14]:
food_frame["Price"]

0    0.5
1    0.3
2    0.4
3    1.0
4    0.2
5    3.0
6    2.5
7    5.0
8    1.5
9    2.0
Name: Price, dtype: float64

In [15]:
print("x")

x

In [16]:
import numpy as np
np.arange(50)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [17]:
np.random.random(10)

array([0.13876078, 0.33527927, 0.4777668 , 0.55981723, 0.36818625,
       0.97064377, 0.30940265, 0.28449539, 0.5438785 , 0.75437177])

In [18]:
A = [2,5,7,3,3,5,6,6,5,2,1,9]
np.mean(A)

4.5

In [19]:
print ("hello")

hello

In [20]:
import numpy as np
A = [2,5,7,3,3,5,6,6,5,2,1,9]
np.sum(A)

54

In [21]:
import numpy as np
A=[3,5,6,7,8]
np.sum(A)

29

In [22]:
np.mean(A)

5.8

In [23]:
np.median(A)

6.0

In [24]:
#Dictionary of food items
food_item = {
    'food':["Rice", "beans", "maize"],
    'Quantity':[3, 6, 8],
    'price':[0.5, 0.6, 0.7],
}

In [25]:
food_item.key()

AttributeError: 'dict' object has no attribute 'key'

In [1]:
 name = ['Zainab']
name

['Zainab']

In [27]:
name.extend(name)

In [28]:
name.extend(['Zainab'])

In [29]:
name[0] = name[0] + 'Sam'

In [30]:
name

['ZainabSam', 'Zainab', 'Zainab']

In [31]:
lst_=[1,2,3,4]
tpl=(1,2,3,4)

In [32]:
list3 = [1,2,3,4]
list4 = [6,0,7,4]

In [33]:
list3.append(list4)

In [34]:
list3

[1, 2, 3, 4, [6, 0, 7, 4]]

In [35]:
list3.extend(list4)

In [36]:
list3

[1, 2, 3, 4, [6, 0, 7, 4], 6, 0, 7, 4]

In [37]:
list3.append(2)
list3

[1, 2, 3, 4, [6, 0, 7, 4], 6, 0, 7, 4, 2]

In [38]:
lst_[1] = 20

In [39]:
lst_

[1, 20, 3, 4]

In [40]:
lst=['ola', 'sam', 'ife', 'ayo', 'ade']
tpl=('ola', 'sam', 'ife', 'ayo', 'ade')

In [41]:
lst[3]

'ayo'

In [42]:
lst_[1]

20

In [43]:
towns = [['lagos','Aja','Orile','lekki'], 'enugu', 'kano', 'ilorin']

In [44]:
towns[0][2]

'Orile'

In [45]:
towns[0][-1]

'lekki'

In [46]:
set1 = {1,2,5,6,87}
set2 = {98,2,0,8,7}

In [47]:
universal_set = set1.union(set2)
universal_set

{0, 1, 2, 5, 6, 7, 8, 87, 98}

In [48]:
set1 & set2

{2}

In [49]:
set1 | set2

{0, 1, 2, 5, 6, 7, 8, 87, 98}

In [50]:
name = 'ola'
name != 'olu'

True

In [51]:
name == 'olu'

False

In [52]:
2 > 1

True

In [53]:
3 < 4

True

In [54]:
8 < 2

False

In [55]:
if 1 < 0:
    print('True')

In [56]:
gender = 'man'
if gender == 'man':
    print ('Keep standing')
else:
    print('sit down')

Keep standing

In [57]:
gender = 'bobrisky'
if gender == 'man':
    print ('Keep standing')
elif gender=='woman':
    print('sit down')
else:
  print("What's your gender?")

What's your gender?

In [61]:
age = 18
if age < 18:
    print('you are under age')
elif age == 18:
    print('you are of age')
else:
    print('you are an elder')

you are of age