# THIS IS A COMMENT

In [2]:
print ("Zainab")

Zainab

In [3]:
print ("Hello")

Hello

In [4]:
import pandas as pd
import numpy as np
import squarify
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
print("hello")

hello

In [6]:
x = 4
y = 7
z = 8
print(x*y*z)

224

In [7]:
Fruits = ["Banana","Apple","Orange","Kiwi","Pineapple","Strawberry"]
Fruits

['Banana', 'Apple', 'Orange', 'Kiwi', 'Pineapple', 'Strawberry']

# HELLO
- DATA SCIENCE

In [8]:

# Dictionary of food items
fruits_list = {
    'Food': ['Apple', 'Banana', 'Carrot', 'Donut', 'Egg', 'Fish', 'Grapes', 'Ham', 'Ice Cream', 'Juice'],
    'Category': ['Fruit', 'Fruit', 'Vegetable', 'Dessert', 'Protein', 'Protein', 'Fruit', 'Protein', 'Dessert', 'Beverage'],
    'Price': [0.5, 0.3, 0.4, 1.0, 0.2, 3.0, 2.5, 5.0, 1.5, 2.0]
}

In [9]:
# Creating DataFrame
food_df = pd.DataFrame(fruits_list)

In [10]:
food_frame = food_df

In [13]:
food_frame["Food"]

0        Apple
1       Banana
2       Carrot
3        Donut
4          Egg
5         Fish
6       Grapes
7          Ham
8    Ice Cream
9        Juice
Name: Food, dtype: object

In [ ]:
print(food_frame)

        Food   Category  Price
0      Apple      Fruit    0.5
1     Banana      Fruit    0.3
2     Carrot  Vegetable    0.4
3      Donut    Dessert    1.0
4        Egg    Protein    0.2
5       Fish    Protein    3.0
6     Grapes      Fruit    2.5
7        Ham    Protein    5.0
8  Ice Cream    Dessert    1.5
9      Juice   Beverage    2.0

In [ ]:
print("REALITY")

REALITY

In [ ]:
import numpy as np
A = [2,5,7,3,3,5,6,6,5,2,1,9]

In [ ]:
# Calculating the mean of the 'Price' column using NumPy
mean_price = np.mean(food_frame['Price'])

print(f'The mean price of the food items is: {mean_price}')

The mean price of the food items is: 1.64

In [ ]:
food_frame["Price"]

0    0.5
1    0.3
2    0.4
3    1.0
4    0.2
5    3.0
6    2.5
7    5.0
8    1.5
9    2.0
Name: Price, dtype: float64

In [ ]:
print("x")

x

In [ ]:
import numpy as np
np.arange(50)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [ ]:
np.random.random(10)

array([0.13876078, 0.33527927, 0.4777668 , 0.55981723, 0.36818625,
       0.97064377, 0.30940265, 0.28449539, 0.5438785 , 0.75437177])

In [ ]:
A = [2,5,7,3,3,5,6,6,5,2,1,9]
np.mean(A)

4.5

In [ ]:
print ("hello")

hello

In [ ]:
import numpy as np
A = [2,5,7,3,3,5,6,6,5,2,1,9]
np.sum(A)

54

In [ ]:
import numpy as np
A=[3,5,6,7,8]
np.sum(A)

29

In [ ]:
np.mean(A)

5.8

In [ ]:
np.median(A)

6.0

In [ ]:
#Dictionary of food items
food_item = {
    'food':["Rice", "beans", "maize"],
    'Quantity':[3, 6, 8],
    'price':[0.5, 0.6, 0.7],
}

In [ ]:
food_item.key()

AttributeError: 'dict' object has no attribute 'key'

In [ ]:
 name = ['Zainab']
name

['Zainab']

In [ ]:
name.extend(name)

In [ ]:
name.extend(['Zainab'])

In [ ]:
name[0] = name[0] + 'Sam'

In [ ]:
name

['ZainabSam', 'Zainab', 'Zainab']

In [ ]:
lst_=[1,2,3,4]
tpl=(1,2,3,4)

In [ ]:
list3 = [1,2,3,4]
list4 = [6,0,7,4]

In [ ]:
list3.append(list4)

In [ ]:
list3

[1, 2, 3, 4, [6, 0, 7, 4]]

In [ ]:
list3.extend(list4)

In [ ]:
list3

[1, 2, 3, 4, [6, 0, 7, 4], 6, 0, 7, 4]

In [ ]:
list3.append(2)
list3

[1, 2, 3, 4, [6, 0, 7, 4], 6, 0, 7, 4, 2]

In [ ]:
lst_[1] = 20

In [ ]:
lst_

[1, 20, 3, 4]

In [ ]:
lst=['ola', 'sam', 'ife', 'ayo', 'ade']
tpl=('ola', 'sam', 'ife', 'ayo', 'ade')

In [ ]:
lst[3]

'ayo'

In [ ]:
lst_[1]

20

In [ ]:
towns = [['lagos','Aja','Orile','lekki'], 'enugu', 'kano', 'ilorin']

In [ ]:
towns[0][2]

'Orile'

In [ ]:
towns[0][-1]

'lekki'

In [ ]:
set1 = {1,2,5,6,87}
set2 = {98,2,0,8,7}

In [ ]:
universal_set = set1.union(set2)
universal_set

{0, 1, 2, 5, 6, 7, 8, 87, 98}

In [ ]:
set1 & set2

{2}

In [ ]:
set1 | set2

{0, 1, 2, 5, 6, 7, 8, 87, 98}

In [ ]:
name = 'ola'
name != 'olu'

True

In [ ]:
name == 'olu'

False

In [ ]:
2 > 1

True

In [ ]:
3 < 4

True

In [ ]:
8 < 2

False

In [ ]:
if 1 < 0:
    print('True')

In [ ]:
gender = 'man'
if gender == 'man':
    print ('Keep standing')
else:
    print('sit down')

Keep standing

In [ ]:
gender = 'bobrisky'
if gender == 'man':
    print ('Keep standing')
elif gender=='woman':
    print('sit down')
else:
  print("What's your gender?")

What's your gender?

In [ ]:
age = 18
if age < 18:
    print('you are under age')
elif age == 18:
    print('you are of age')
else:
    print('you are an elder')

you are of age

In [2]:
# assign a variable
x = "Nigeria"
x

'Nigeria'

In [3]:
# check the length
len(x)

7

In [4]:
print(len(x))

7

In [12]:
# Call each letter 
for letter in "Nigeria":
    print (letter)

N
i
g
e
r
i
a

In [13]:
sentence = "Nigeria is a country"

In [18]:
# print each word
for word in sentence:
    print (word)

N
i
g
e
r
i
a

i
s

a

c
o
u
n
t
r
y

In [19]:
# split each word
country = "Nigeria"
State = sentence.split()

In [20]:
State

['Nigeria', 'is', 'a', 'country']

In [23]:
# assign and split
Sentence = "Nigeria is my country"
river = Sentence.split()
print(river)

['Nigeria', 'is', 'my', 'country']

In [26]:
ket = Sentence.replace("my","our")
ket

'Nigeria is our country'