In [1]:
import pandas as pd

In [2]:
house = pd.read_csv('Housing_dataset_train.csv')

In [3]:
House = house.copy()

In [4]:
House.head()

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,NaN,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,NaN,5.0,6.0,2600700.898

In [5]:
House['title'].value_counts()

title
Flat                    1372
Apartment               1331
Townhouse               1327
Mansion                 1322
Detached duplex         1312
Penthouse               1306
Semi-detached duplex    1299
Bungalow                1293
Terrace duplex          1266
Cottage                  450
Name: count, dtype: int64

In [6]:
House.shape

(14000, 7)

In [7]:
House.describe()

                 ID       bedroom      bathroom  parking_space         price
count  14000.000000  12201.000000  12195.000000   12189.000000  1.400000e+04
mean    4862.700357      4.308171      3.134235       3.169825  2.138082e+06
std     3818.348214      2.441165      2.035950       1.599415  1.083057e+06
min        0.000000      1.000000      1.000000       1.000000  4.319673e+05
25%     1672.750000      2.000000      1.000000       2.000000  1.393990e+06
50%     3527.000000      4.000000      2.000000       3.000000  1.895223e+06
75%     8011.250000      6.000000      5.000000       4.000000  2.586699e+06
max    12999.000000      9.000000      7.000000       6.000000  1.656849e+07

In [8]:
House.count()

ID               14000
loc              12187
title            12278
bedroom          12201
bathroom         12195
parking_space    12189
price            14000
dtype: int64

In [9]:
House.isnull().sum()

ID                  0
loc              1813
title            1722
bedroom          1799
bathroom         1805
parking_space    1811
price               0
dtype: int64

In [10]:
House.drop('ID', axis=1, inplace=True)

In [11]:
House.describe()

            bedroom      bathroom  parking_space         price
count  12201.000000  12195.000000   12189.000000  1.400000e+04
mean       4.308171      3.134235       3.169825  2.138082e+06
std        2.441165      2.035950       1.599415  1.083057e+06
min        1.000000      1.000000       1.000000  4.319673e+05
25%        2.000000      1.000000       2.000000  1.393990e+06
50%        4.000000      2.000000       3.000000  1.895223e+06
75%        6.000000      5.000000       4.000000  2.586699e+06
max        9.000000      7.000000       6.000000  1.656849e+07

In [12]:
 mean_values = House[['bedroom', 'bathroom', 'parking_space']].mean()

In [13]:
# mean_values

bedroom          4.308171
bathroom         3.134235
parking_space    3.169825
dtype: float64

In [1]:
House[['bedroom', 'bathroom', 'parking_space']].fillna(15)

NameError: name 'House' is not defined

In [ ]:
#