In [1]:
# Import Libraries
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor

In [2]:
house = pd.read_csv("Housing_dataset_train.csv")

In [3]:
House = house.copy()

In [4]:
house.head()

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,NaN,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,NaN,5.0,6.0,2600700.898

In [5]:
house.describe()

                 ID       bedroom      bathroom  parking_space         price
count  14000.000000  12201.000000  12195.000000   12189.000000  1.400000e+04
mean    4862.700357      4.308171      3.134235       3.169825  2.138082e+06
std     3818.348214      2.441165      2.035950       1.599415  1.083057e+06
min        0.000000      1.000000      1.000000       1.000000  4.319673e+05
25%     1672.750000      2.000000      1.000000       2.000000  1.393990e+06
50%     3527.000000      4.000000      2.000000       3.000000  1.895223e+06
75%     8011.250000      6.000000      5.000000       4.000000  2.586699e+06
max    12999.000000      9.000000      7.000000       6.000000  1.656849e+07

In [7]:
house.drop('ID', axis=1, inplace=True)

In [8]:
house.isnull().sum()

loc              1813
title            1722
bedroom          1799
bathroom         1805
parking_space    1811
price               0
dtype: int64

In [28]:
# max_values = House[['bedroom', 'bathroom', 'parking_space']].max()

In [45]:
X = house[['bedroom','bathroom','parking_space']].fillna(1)
y = house.price

In [46]:
X.isnull().sum()

bedroom          0
bathroom         0
parking_space    0
dtype: int64

In [47]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=.18, random_state=4)

In [48]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(11480, 3)
(2520, 3)
(11480,)
(2520,)

In [49]:
model = DecisionTreeRegressor()

In [50]:
model.fit(X_train,y_train)

DecisionTreeRegressor()

In [51]:
y_pred = model.predict(X_test)

In [52]:
mse = mean_squared_error(y_test,y_pred)
mse

953404837332.6088

In [27]:
933082267261.3528

933082267261.3528

In [ ]:
930512507548.8752